capture:
  output_root: ./data/events
  cooldown_seconds: 30
  capture_seconds: 10
  capture_interval_seconds: 0.5
  motion_threshold: 8.0
  downscale_width: 320
  downscale_height: 240
  trigger_frames: 2

retention:
  days_to_keep: 7

web:
  host: 0.0.0.0
  port: 8000
  base_url: http://littercam.local:8000

logging:
  level: INFO
  file_logging: false
  log_dir: ./logs
